name: Publish

on:
  workflow_dispatch:
  push:
    tags:
      - v*

env:
  MAX_RETRIES: 3   # ポーリングの最大回数
  SLEEP_SEC: 15    # ポーリング間隔（秒）

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build extension
        run: |
          ##npm ci
          ##npm run build
          ##cd dist
          
          zip -r ./extension.zip \
            manifest.json \
            icons \
            content.js

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: extension
          path: extension.zip
