name: Publish

on:
  workflow_dispatch:
  release:
    types: [published]

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build extension
        run: |
          ##npm ci
          ##npm run build
          ##cd dist
          
          zip -r ./extension.zip \
            manifest.json \
            icons \
            content.js

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: hide-meta-files-on-github
          path: extension.zip
